/*Notes: Consider SPA redesign with zig zag cascade
This page may be removed after A/a. 
To do: 
responsiveness for:
 iPad pro
 iPad
 iPhone 6 Plus
 iPhone 6 redux*/
body {
  background-image: url('../images/memorial.jpg');
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 350px;
  background-size: cover;
}

.header h1{
  font-size: 180px;
  color: white;
  text-align: center;
  text-shadow: 5px 5px 8px gray;
  position: relative;
  top: 30px;
}

.categories {
  font-family: "Yellowtailregular";
  font-size: 45px;
  color: white;
}

p, li { 
  color: white;
  font-size: 17px;
}

li {
  list-style-type: none;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 105px;
  
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#col1, #col2, #col3 {
  background: rgb(51, 51, 51);  
  background: rgba(51, 51, 51, 0.7);
  margin-left: 15px;
  padding-right: 60px;
  width: 30%;
  vertical-align: middle;
}

@media only screen and (max-width : 1199px) {

    body {
      padding-bottom: 480px;
    }
    .header h1{
      font-size: 138px;
    }

    p, li {
      font-size: 15px;
    }

    .categories {
      font-size: 41px;
    }

    #col1, #col2, #col3 {
      margin-left: 10px;
      padding-right: 10px;
      width: 30%;
      vertical-align: middle;
    }

}

@media only screen and (max-width : 990px) {
    
    body {
      padding-bottom: 540px;
    }

    .header h1{
      font-size: 125px;
    }

    p, li {
      font-size: 12px;
    }

    .categories {
      font-size: 32px;
    }

    #col1, #col2, #col3 {
      margin-left: 0px;
      padding-right: 0px;
      width: 33%;
      vertical-align: middle;
    }
}  

@media only screen and (max-width : 375px) {

    .header h1 {
      font-size: 95px;
    }

    .categories {
      font-size: 22px;
    }

    p, li {
      font-size: 10px;
    }

}
