
a {color: white;}

a:hover {color: #f37366;}

body {
  background-image: url("../images/home.jpg");
  background-repeat: no-repeat;
  background-position: center left; 
  position: relative;
  padding-bottom: 570px;
}

.container-fluid {
  position: absolute;
  top: 200px;
  left: 150px;
}

h1 {
  font-size: 90px;
  font-family: "karbonsemibold";
  color: white;
  text-decoration: none;
  margin-bottom: 0px;
  text-shadow: 5px 5px 8px gray;
  -webkit-animation-delay: 1700ms;
  -moz-animation-delay: 1700ms;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
}

p {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-family: "Benton Sans";
  font-weight: 400;
}

.row {
  text-align: center;
}

#column {
  background: rgba(51,51,51,0.7);
  margin-left: 25px; 
  -webkit-animation-delay: 750ms;
  -moz-animation-delay: 750ms;
  -webkit-animation-duration: 1500ms;
  -moz-animation-duration: 1500ms;
}

#navbar {
  background-color: #333;
  border:none;
}

ul {
  width: 100%;
}

li {
  font-family: "karbonsemibold";
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 17px;
  width: 25%;
  float: left;
  text-align: center;
}

#l1{
  -webkit-animation-delay: 350ms;
  -moz-animation-delay: 350ms;
}
#l2 {
  -webkit-animation-delay: 450ms;
  -moz-animation-delay: 450ms;
}
#l3 {
  -webkit-animation-delay: 550ms;
  -moz-animation-delay: 550ms;
}
#l4 {
  -webkit-animation-delay: 650ms;
  -moz-animation-delay: 650ms;
}

@media only screen and (max-width : 2048px) {
  body {
    background-position: center;
  }
  #navbar {
    width: 93.9%;
    position: relative;
    left: 63px;
  }
}

@media only screen and (max-width : 1922px) {
 body {
  background-position: center left;
 }
 #navbar {
   width: 100%;
   left: 0;
 }
}

/*iPad Pro*/
@media only screen and (max-width : 1024px) {
  body {
    background-size: cover;
    padding-bottom: 1293px;
    background-position: center;
  }

  .container-fluid {
    width: 50%;
  }

  #column {
    width: 212%;
    position: relative;
    right: 166px;
    top: 650px;
  }

  h1 {
    font-size: 120px;
    position: relative;
    bottom: 30px;
    left: 150px;
  }

}

/*iPad*/
@media only screen and (max-width : 770px) {
  body {
    padding-bottom: 1000px;
    background-position: center;
  }

  .container-fluid {
    width: 60%;
  }

  h1 {
    position: relative;
    left: 20px;
    bottom: 90px;
  }

  #column {
    top: 410px;
    width: 179%;
  }
}

/*iPhone 6 Plus*/
@media only screen and (max-width : 414px) {

  body {
    padding-bottom: 650px;
  }

  li {
    font-size: 14px;
    position: relative;
    top: 10px;
  }

  h1 {
    font-size: 70px;
    left: -70px;
  }

  #column {
    top: 235px;
    width: 190%;
  }

  p {
    font-size: 22px;
  }
}

/*iPhone 6*/
@media only screen and (max-width : 375px) {
  body {
    background-position: center;
    background-size: cover;
    padding-bottom: 570px;
  }

  li {
    font-size: 13px;
    position: relative;
  }

  .container-fluid {
    width: 50%;
  }

  h1 {
    font-size: 65px;
    position: relative;
    left: -80px;
    right: 90px;
  }

  #column {
    width: 238%;
    position: relative;
    right: 165px;
    top: 190px;
    padding: 0px;
  }

  p {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
  }
}

/*iPhone 5*/
@media only screen and (max-width : 320px) {

  body {
    padding-bottom: 520px;
  }

  #column {
    width: 246%;
    top: 130px;
  }

  #navbar {
    height: 70px;
  }

  h1 {
    font-size: 58px;
    left: -100px;
    bottom: 120px;
  }

  li {
    font-size: 12px;
    position: relative;
    top: 5px;
  }

  p {
    font-size: 18px;
  }
}

