
body {
background-image: url("../images/home.jpg");
background-repeat: no-repeat;
background-position: center left; 
position: relative;
padding-bottom: 570px;
}

.container-fluid {
  position: absolute;
  top: 200px;
  left: 150px;
}

h1 {
  font-size: 90px;
  font-family: "Yellowtailregular";
  color: whitesmoke;
  text-decoration: none;
  margin-bottom: 0px;
  text-shadow: 5px 5px 8px gray;
  -webkit-animation-delay: 1700ms;
  -moz-animation-delay: 1700ms;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
}

p {
  font-size: 35px;
  color: white;
  text-decoration: none;
  font-family: "League Gothic";
}

.row {
  text-align: center;
}

#column {
  background: rgba(51,51,51,0.7);
  -webkit-animation-delay: 750ms;
  -moz-animation-delay: 750ms;
  -webkit-animation-duration: 1500ms;
  -moz-animation-duration: 1500ms;
}

#navbar {
  background-color: #333;
  border:none;
}

ul {
  width: 100%;
}

li {
  font-family: "Code-Bold";
  font-size: 17px;
  width: 25%;
  float: left;
  text-align: center;
}

#l1{
  -webkit-animation-delay: 350ms;
  -moz-animation-delay: 350ms;
}
#l2 {
  -webkit-animation-delay: 450ms;
  -moz-animation-delay: 450ms;
}
#l3 {
  -webkit-animation-delay: 550ms;
  -moz-animation-delay: 550ms;
}
#l4 {
  -webkit-animation-delay: 650ms;
  -moz-animation-delay: 650ms;
}

a {color: white;}
a:hover {color: black;}


@media only screen and (max-width : 2048px) {
  body {
    background-position: center;
  }
  #navbar {
    width: 93.9%;
    position: relative;
    left: 63px;
  }
}

@media only screen and (max-width : 1922px) {
 body {
  background-position: center left;
 }
 #navbar {
   width: 100%;
   left: 0;
 }

}

@media only screen and (max-width: 375px) {
  body {
    background-position: center;
    background-size: cover;
  }

  li {
    font-size: 13px;
    position: relative;
    top: 10px;
  }

  .container-fluid {
    width: 50%;
  }

  h1 {
    font-size: 65px;
    position: relative;
    bottom: 100px;
    right: 80px;
    margin: none;
  }

  #column {
    width: 238%;
    position: relative;
    right: 165px;
    top: 190px;
    padding: 0px;
  }

  p {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
  }
}


