/*Design notes: Make page into SPA, change beginnign
paragraph to be shorter, maybe one line, and wider,
list each project, the technologies used, an image 
preview, description, and a link. Divide each project
by a solid line and go straight down, or do a downwards
zig-zag pattern. Dont even bother fixing media queries
and responsiveness till you have projects*/

body {
  background-color: #333 !important;
  background-repeat: no-repeat;
  padding-bottom: 0px;
}

.row-wrapper {
  height: 70px;
}
.project1-header{
  color: white;
  font-size: 50px;
  font-family: "JockeyOne-Regular";
  width: 66%;
  height: 30px;
  float: right;
  margin-top: 100px;
}

.project1-subheader {
  color: white;
  width: 66%;
  float: right;
}

.project1-description {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 400;
}
.project1 .turnout {
  height: 230px;
  width: 400px;
  margin-top: 100px;
  margin-left: 50px;
  position: absolute;
  right: 1000px;
  top: 360px;
  border-radius: 4px;
  border: 1px solid grey;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
}

.project1-link {
  display: block;
  height: 230px;
  width: 400px;
  cursor: pointer;
}

#col {
  font-family: "JockeyOne-Regular";
  /*top: 33%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 640px;*/
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

#col h1 {
  font-size: 100px;
  position: relative;
  color: white;
  width: 100%;
  text-align: center;
}

#col p {
  font-size: 35px;
  width: 100%;
  position: relative;
  top: 40px;
  left: 35px;
}

.project1 {
  width: 100%;
}

#letters .char10 {
  color: #94C472;
}
#letters .char11 {
  color: #B33E92;
}
#letters .char12 {
  color: #D18D61;
}
#letters .char13 {
  color: #DA3C40;
}
#letters .char14 {
  color: #1AAAA2;
}
#letters .char15 {
  color: #1AAAA2;
}

p {color: white;}

#letters .char19 {
  font-weight: 100;
  font-size:115px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@media only screen and (max-width : 2048px) {
    
    body {
      background-size: none;
      padding-bottom: 500px;
      background-position: center;
    }
    #col {float: right;}
}  

/*These are broken, will be fixed when the page is COMPLETE*/
/**/
