@import "/stylesheets/letterEffects.less";

body
{
    background-color: #333 !important;
    background-repeat: no-repeat;
    padding-bottom: 0px;
    height: 2500px;
}

.hidden-project,
.hidden-col-left,
.hidden-col-right
{
    opacity: 0;
}

.section-header
{
    color: white;
    font-family: "JockeyOne-Regular";
    text-align: center;
    font-size: 75px;
}

.section-hr
{   
    max-width: 1300px;
    width: 90%;
    margin-bottom: 40px;
}

.section-p (@font-size)
{
    font-size: @font-size;
    width: 100%;
    color: white;
    font-family: "Avenir Next", Arial, sans-serif;
    font-weight: 500;
}

.section-img (@url)
{
    background-image: url(@url);
    background-repeat: no-repeat;
    background-size: contain;
}

.fixed-flex-width (@width)
{
    flex-basis: @width;
    flex-grow: 0;
    flex-shrink: 0;
}

.animation-pulse
{
    -webkit-animation: pulseInfinite 1.5s infinite;
    -moz-animation:    pulseInfinite 1.5s infinite;
    -o-animation:      pulseInfinite 1.5s infinite;
    animation:         pulseInfinite 1.5s infinite;
}

@keyframes pulseInfinite
{
   50% { 
      transform: scale(1.2);
   }
}

.splash-wrapper
{
    height: 101vh;
    display: flex;
    align-items: center; 
    
    .splash
    {
        font-family: "JockeyOne-Regular";
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
     
        h1 
        {
            font-size: 100px;
            color: white;
            width: 100%;
            text-align: center;
        }

        p 
        {
            font-size: 35px;
            width: 100%;
            color: white;
            position: relative;
            top: 40px;
            font-family: "Avenir Next", Arial, sans-serif;
            font-weight: 500;
            text-align: center;
        }

        p:nth-of-type(2)
        {
            font-size: 28px;
        }

        .down-arrow
        {
            .section-img('../assets/images/arrow.svg');
            height: 60px;
            width: 100%;
            background-position: center;
            cursor: pointer;
            margin-top: 120px;
            display: inline-block;

            &.loaded
            {
                .animation-pulse;
            }
        }
    }    
}


.bio
{
    width: 90%;
    margin: auto;

    h1
    {
        .section-header;
        text-align: left;
        margin-bottom: 15px;
        font-size: 65px;

        span 
        {
            color: @light-green;
        }
    }

    hr 
    {
        .section-hr;
        margin-top: 50px;
    }

    .bio-columns
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        margin-top: 100px;
        height: 100vh;


        .bio-paragraphs
        {
            margin-right: 10%;

            .bio-body:nth-of-type(1)
            {
                font-weight: 500;
                margin-bottom: 25px;
            }

            .bio-body
            {
                .section-p(18px);
                font-weight: 100;

                span 
                {
                    font-weight: 500;

                    .rheo-link
                    {
                        text-decoration: none;
                        color: @purple;
                    }
                }
            }
        }

        .bio-img
        {
            .section-img("../assets/images/home.jpg");
            .fixed-flex-width(435px);
            height: 450px;
            background-size: cover;
            background-position: center;
            border-radius: 50%;

            &.mobile
            {
                display: none;
                border-radius: 50%;
                width: 40%;
                height: 138px;
                margin: auto;
                margin-bottom: 15px;
            }
        }
    }


}


/* Skills */

.skills 
{

    margin-top: 75px;
    max-width: 1200px;
    margin: auto;

    h1
    {
        color: white;
        font-family: "JockeyOne-Regular";
        text-align: center;
        font-size: 75px;
    }

    hr
    {
        max-width: 1200px;
        width: 90%;
    }

    ul 
    {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        height: 600px;
        align-items: baseline;
        align-content: space-around;

        li
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;
            font-family: "JockeyOne-Regular";
            font-size: 50px;
            margin-left: 25px;
            padding-top: 30px;

            div
            {
                height: 60px;
                width: 60px;
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 15px;
            }

            .react
            {
                background-image: url('../assets/images/react.png');
            }

            .redux
            {
                background-image: url('../assets/images/redux.png');
            }

            .javascript
            {
                background-image: url('../assets/images/js.png');
            }

            .rails
            {
                background-image: url('../assets/images/rails.png');
            }

            .sql
            {
                background-image: url('../assets/images/postgres.png');
            }

            .jquery
            {
                background-image: url('../assets/images/jquery.png');
            }

            .css
            {
                background-image: url('../assets/images/less.png');
                background-position: center;
                transform: scale(1.3);
            }

            .html
            {
                background-image: url('../assets/images/html.png');
            }

            .git
            {
                background-image: url('../assets/images/git.png');
            }

            .ruby
            {
                background-image: url('../assets/images/ruby.png');
            }
        }

    }
}

.projects
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;

    h1, h3
    {
        color: white;
        font-family: "JockeyOne-Regular";
        margin-top: 0;
        margin-bottom: 2px;
    }

    h1 
    {
        font-size: 55px;

        &.project-header
        {
            .section-header;
        }
    }

    h3
    {
        font-family: "Avenir Next", "Benton Sans";
        font-style: italic;
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 20px;
        position: relative;
        bottom: 8px;

        .pill (@color)
        {
            display: inline-block;
            font-size: 12px;
            padding: 4px;
            padding-left: 12px;
            padding-right: 12px;
            margin-top: 7px;
            border-radius: 100px;
            color: white;
            cursor: default;
            transition: background-color 300ms ease;
            border: 1px solid @color;

            &:hover
            {
                background-color: @color;
            }
        }

        span:nth-of-type(1)
        {
            .pill(@light-green);
        }

        span:nth-of-type(2)
        {
            .pill(@purple);
        }

        span:nth-of-type(3)
        {
            .pill(@brown);
        }
        
        span:nth-of-type(4)
        {
            .pill(@red);
        }

        span:nth-of-type(5)
        {
            .pill(@turquoise);
        }
    }

    hr 
    {
        .section-hr;
    }

    .project-wrapper
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
        margin-bottom: 60px;

        .project-description
        {
            margin-left: 25px;
            color: white;
        }

        .project-image
        {
            background-repeat: no-repeat;
            background-size: cover;
            height: 230px;
            flex-basis: 400px;
            flex-grow: 0;
            flex-shrink: 0;
            border-radius: 5px;
            cursor: pointer;

            &.turnout
            {
                background-image: url('../assets/images/turnoutframe.png');
            }

            &.identifont
            {
                background-image: url('../assets/images/identifont.png');
            }

            &.rheo
            {
                background-image: url('../assets/images/asteroids.png');
            }

            &.asteroids
            {
                background-image: url('../assets/images/asteroids.png');
            }
        }

        .project-body
        {
            font-family: "Avenir Next", "Benton Sans";
            font-size: 20px;
        }
    }

    .project-wrapper:nth-of-type(2)
    {
        flex-direction: row-reverse;

         .project-description
        {
            margin-left: 0;
            margin-right: 15px;
        }
    }
}

/* Media Queries */

@media screen and (max-width: 1439px) { 
  ul {
    width: 1016.59px;
  }
}

@media screen and (max-width: 1027px) { 
  ul {
    width: 861.42px;
  }

}

@media only screen  and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait)
{ 

    .fadeInLeft,
    .fadeInRight
    {
        animation-name: none;
        opacity: 1 !important;
    }

    .hidden-col-right,
    .hidden-col-left
    {
        opacity: 1 !important;
    }

    .splash-wrapper
    {
        .splash
        {
            width: 95%;
            margin: 0;

            h1 
            {
                font-size: 40px;
            }

            p
            {
                font-size: 25px;
            }

            p:nth-of-type(2)
            {
                font-size: 22px;
            }

            .down-arrow
            {
                height: 35px;
                display: none;
            }
        }
    }

    #letters .char19
    {
        font-size: 40px !important;
    }

    .bio 
    {

        h1 
        {
            margin: auto;
            margin-bottom: 10px;
            font-size: 35px;
        }

        .bio-columns
        {
            flex-direction: column-reverse;

            .bio-paragraphs
            {
                margin-right: 0;

                .bio-body
                {
                    font-size: 12px;
                    width: 95%;
                    margin-right: auto;
                }

                .bio-body:nth-of-type(1)
                {
                    margin-bottom: 15px;
                }
            }

            .bio-img
            {
                display: none;
                
                &.mobile
                {
                    display: block;
                }
            }
        }
    }

    .skills
    {
        h1
        {
            font-size: 35px;
            width: 95%;
        }

        hr
        {
            width: 60%;
            display: none;
        }

        ul
        {
            height: 320px;
            align-content: center;
            width: 90%;

            li 
            {
                font-size: 20px;

                div 
                {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }

    .projects 
    {
        h1
        {
            font-size: 35px; 
            margin-top: 20px;

            &.project-header
            {
                font-size: 35px;
                width: 95%;
                margin-bottom: 25px;
            }
        }

        hr 
        {
            display: none;
        }

        .project-wrapper
        {
            display: block;
            width: 95%;

            .project-image
            {
                width: 94%;
            }

            .project-body
            {
                width: 95%;
            }
        }

        .project-wrapper:nth-of-type(2)
        {

             .project-description
            {
                margin-left: 25px;
                margin-right: 0;
            }
        }
    }

    footer
    {
        width: 95%;
    }
}

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { /* STYLES GO HERE */ }

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { /* STYLES GO HERE */ }


footer
{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;

    .icons
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;

        a
        {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 30px;
            width: 30px;
            margin-left: 20px;
            cursor: pointer;
            transition: transform 100ms ease-in;
            display: inline-block;

            &.github
            {
                background-image: url('../assets/images/github.png');
                margin-left: 0;
            }

            &.linkedin
            {
                background-image: url('../assets/images/linkedin.svg');
                position: relative;
                bottom: 3px;
            }

            &.email
            {
                background-image: url('../assets/images/gmail.svg');
            }

            &:hover
            {
                transform: scale(1.2);
            }
        }

    }

    .copyright-notice
    {
        font-weight: 500;
        font-family: "Avenir Next", "Arial", sans-serif;
    }
}